::selection
  background: lighten($md-blue-500, 20%)

::-moz-selection
  background: lighten($md-blue-500, 20%)

img::selection
  background: transparent

img::-moz-selection
  background: transparent

body
	//-webkit-tap-highlight-color: #FFFFFF
