.hero-five
  color: #333333

  article
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    font-family: Raleway
    font-size: 15px
    margin: 0px 30px 20px 30px

    @include media($medium-screen)
      font-size: 20px

    
    div
      span
        text-decoration: none
        color: $red

    ul
      

      li
        list-style-type: circle




#d2
  height: 150px
  width: 180px
  display: flex
  justify-content: center
  align-items: center
  position: relative
  bottom: 50px

.circ-panel
  background: url(https://pp.vk.me/c625827/v625827378/1da3/sTzZI3UAab8.jpg) 0% 0% no-repeat
  background-size: cover
  width: 130px
  height: 130px
  border-radius: 65px
  border: 3px solid
  -webkit-animation: rainbow 10s infinite linear


@-webkit-keyframes rainbow 
  0%
    border:#B83D3D
  14% 
    border:#B6C144
  28%
    border:#40BF57
  43%
    border:#44C1C1
  57%
    border:#4046BF
  72%
    border:#BC44C1
  86%
    border:#BF4097
  100%
    border:#B83D3D





#about-node
  font-size: 26px
  text-align: center
  display: block
  margin-bottom: 20px

  a
    color: $red - 50

  a:hover
    color: #333333