.contact

  .contact-container
    background-color: rgba(255,255,255, .85)
    width: 80%
    margin: 0 auto
    height: 500px

    .left
      float: left
      border-right: 1px solid #333

      .field

        ol
          list-style-position: inside
          list-style-type: decimal

    .right
      float: right
      border-left: 1px solid #333

      

    h3
      font-family: Raleway
      text-align: center
      margin-top: 15px
      padding-bottom: 15px
      box-shadow: 0 2px 0 0 #333

    .bottom
      float: right
      width: 100%
      text-align: center
      background-color: hsl(350, 100%, 60%)
      height: 25px

      span
        color: white

    .left, .right
      width: 50%
      height: inherit
      transition: background-color 0.18s ease-in-out

    .left:hover, .right:hover
      background-color: rgba(255,255,255, .5)

.msg
  width: 90%
  margin: 0 auto
  color: black
  text-decoration: none
  font-weight: bold

.field
  @extend .msg
  margin-top: 20px
  font-weight: 400

.btn
  display: block
  margin: 0 auto
  width: 90%
  height: 40px
  border-radius: 10px
  margin-top: 10px
  background-color: rgba(0, 0, 0, .5)
  text-align: center
  font-size: 24px
  color: white

.btn:hover
  box-shadow: 0 0 3px 3px hsla(200, 100%, 50%, .999)
  color: white

.btn-s
  background-color: hsla(200, 100%, 50%, .7)
  width: 60%

.contact-head
  font-weight: bold
  font-size: 40px
  position: relative
  top: 10px
  padding: 0px 0 0px 0
  display: block
  width: inherit
  text-align: center
  margin: 0 20px
  margin-bottom: 50px
  //background-color: rgba(0,0,0,.1)

  @include media($medium-screen)
    font-size: 60px
    padding: 0px 0 0px 0
    top: 10px
    margin-bottom: 60px
