
.hero-third
  
  main
    display: flex
    width: 100%
    justify-content: center
    flex-wrap: wrap

    section
      width: 300px
      color: white
      margin: 0 15px
      
      div
        background-color: white

      article
        margin: 20px 15px

      box
        display: flex
        justify-content: center
        align-items: center
        height: 150px
        width: 300px
        box-shadow: 0 0 1px black
        -webkit-text-fill-color: transparent

        span
          font-size: 60px
          text-shadow: 1px 1px rgba(255,255,255,.6)
          cursor: default

      box:hover > span
        text-shadow: 1px 1px rgba(255,255,255,.99)
        font-weight: bold

      box:hover
        opacity: .85


.box1
  background-color: white
  background: url(http://i.imgur.com/EWnUsie.jpg) 50% 50% no-repeat
  background-size: cover

.box2
  background: url(http://i.imgur.com/KzdWLB9.jpg) 40% 50% no-repeat
  background-size: cover
  
.box3
  background: url(http://i.imgur.com/gH1xUL9.jpg) 20% 50% no-repeat


