.skills
  height: 740px
  width: 100%
  background-color: #efd92b

  .skills-container
    width: 80%
    margin: 0 auto
    color: black
    
    h1
      font-family: Raleway
      padding-top: 80px
      font-size: 50px
      text-align: center
      font-weight: bold

    .list
      margin-top: 70px
      
      .section
        font-family: Raleway
        text-align: center
        margin-top: 50px
        color: rgba(black, .8)
        font-size: 30px

      ul

        li
          display: flex
          justify-content: center
          align-items: center

          h2
            font-family: Raleway
            margin: 0
            color: rgba(black, .7)
            font-size: 25px

          h3
            font-size: 20px
            margin: 0
            margin-left: 20px
            font-family: Raleway
            color: rgba(black, .6)

.js
  color: rgba(black, .5)

@media screen and (max-width: 585px)
  .skills

    .skills-container
      width: 100%
      
      h1
        padding-top: 80px
        font-size: 40px


      .list
        margin-top: 90px
        
        .section
          margin-top: 40px
          font-size: 25px

        ul

          li

            h2
              font-size: 20px

            h3
              font-size: 15px

  .js
    font-size: 5px
          
@media screen and (max-width: 380px)
  
  .section
    max-width: 100%
    ul
      max-width: 100%
      li
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        max-width: 100%



          
