main 
  height: 100%
  width: 100%
  margin: 0 auto
     
  section
    width: 850px
    height: inherit
    margin: 0 auto
    margin-top: 60px
      
    ul:nth-child(4)
      box-shadow: none

    ul
      display: flex
      box-shadow: 0 1px 0 0px white

      li
        margin: 21px 0px
        padding: 0 5px
        width: inherit
        border-right: 2px solid rgba(255,255,255,.3)
        cursor: default
        

        a
          color: white
          padding: 10px
          text-decoration: underline

        a:hover
          color: black

      header
        width: 180px
        font-weight: bold
        font-size: 18px
        margin: 2px 0

        span
          font-size: 33px

  article:nth-child(4)
    width: 850px
    height: inherit
    margin: 0 auto
    margin-top: 60px

    header
      font-size: 22px
      padding: 10px 0
      margin: 10px 0
      border-bottom: 1px solid white

    ul
      li
        margin-left: 30px
        font-size: 18px
        list-style-type: circle

.caption
  text-decoration: underline

.caption:hover
  text-decoration: none

.caption:hover .hide
  opacity: 1

.hide
  opacity: 0
  position: absolute
  width: 200px
  line-height: 2em
  text-align: center
  background-color: #333
  transition: opacity 0.2s ease

.show
  display: block

.page-header
  display: block
  text-align: center
  font-weight: bold
  font-size: 30px
  position: relative
  padding: 70px 0 0px 0
  text-align: center
  margin: 0 20px

  @include media($medium-screen)
    font-size: 50px

@media screen and (max-width: 900px)
  .caption
    text-decoration: none

  main
    width: 60%

    section
      width: 100%
      display: block
      margin: 0 auto
      padding: 0

      ul:nth-child(4)
        border-bottom: 1px solid white

      ul
        display: flex
        flex-wrap: wrap
        flex-direction: column
        margin: 0
        padding: 0
        
        header
          margin-top: 40px
          padding-bottom: 10px
          width: 100%
          font-size: 25px
          //border-bottom: 1px solid white

          span
            margin-right: 20px

        li
          list-style-type: circle
          font-size: 20px
          margin: 0
          border: none
          margin-left: 20px
          border-bottom: none

          a
            text-decoration: none

    article:nth-child(4)
      width: 100%

  .hide
    opacity: 1
    width: inherit
    height: inherit
    background-color: rgba(0,0,0,.00001)
    position: relative
    line-height: 1em

@media screen and (min-width: 450px) and (max-width: 700px)
  main
    width: 90%

@media screen and (max-width: 450px)
  main
    width: 95%