.footer {
  z-index: 9999999;
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;
  $footer-background: desaturate(darken($action-color, 20%), 30%);
  $footer-color: white;
  $footer-link-color: transparentize($footer-color, 0.6);
  $footer-disclaimer-color: transparentize($footer-color, 0.6);

  background: $footer-background;
  padding: ($base-spacing * 2) $gutter;
  width: 100%;

 

  .footer-links {
    @include clearfix;
    margin-bottom: $base-spacing;

    @include media($medium-screen) {
      @include shift(3);
    }
  }

  ul {
    margin-bottom: $base-spacing;
    padding: 0;

    @include media($medium-screen) {
      @include span-columns(6);
      @include omega(3n);
      @include clearfix;
    }
  }

  li {
    line-height: 1.5em;
    list-style: none;
    text-align: center;

    @include media($medium-screen) {
      text-align: left;
    }
  }

  li a {
    transition: all 0.11s cubic-bezier(.33,.06,1,0);
    color: $footer-link-color;
    text-decoration: none;

    &:focus,
    &:hover {
      color: transparentize($footer-color, 0);
    }
  }

  li h3 {
    color: $footer-color;
    font-size: 1.1em;
    font-weight: 800;
    font-family: Raleway;
    margin-bottom: 0.4em;
  }  

  hr {
    border: 1px solid transparentize($footer-disclaimer-color, 0.3);
    margin: 0 auto $base-spacing;
    width: 12em;
  }

  p {
    color: $footer-disclaimer-color;
    font-size: 0.9em;
    line-height: 1.5em;
    margin: auto;
    max-width: 35em;
    text-align: center;
  }
}



.maxslob{
  color: white;
  transition: color 0.3s ease;
}

.maxslob:hover{
  color: white;
}

.slide-center-out 
{
text-decoration:none;
display: inline-block;
color:white;
cursor: default;
}
/* add a empty string after the elment with class .slide-center-out  */
.slide-center-out:after 
{
content: '';
display: block;
height: 2px;
width: 0;
background: transparent;
transition: width .5s ease, background-color .5s ease;
-webkit-transition: width .5s ease, background-color .5s ease;
-moz-transition: width .5s ease, background-color .5s ease;
 
margin:auto; /* center the cotent so it will sliding from the midddle to the left and right */
}
 
/* Change the width and background on hover, aka sliding from the middle to the left and right */
.slide-center-out:hover:after 
{
width: 100%;
background: white;
}

.footer1{
  position: relative;
  bottom: 0;
  left: -200px;
}