.bullets {
  $base-line-height: 1.5em !default;
  $action-color: black !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  $icon-bullet-size: 3.5em;

  @include display(flex);
  @include flex-wrap(wrap);
  margin-bottom: $base-line-height;
  margin: 1em;
  overflow: auto;
  padding: 0;
  //padding-top: 150px;
  //padding-bottom: 150px;

  .bullet {
    @include flex-basis(20em);
    @include flex-grow(1);
    box-shadow: 0 0 4px 0 rgba(0,0,0,.8);
    //padding: 150px 0px;
    padding-bottom: 0px;

    @include media ($medium-screen){
      //padding: 10px 0px;
      margin-bottom: 0px;
    }
  }

  .bul-icn-cnt{
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 40px;
    width: 100%;
    height: inherit;
    background-color: rgba(0,0,0,.15);
    position: relative;
    //top: -130px;
    border-radius: 30px;
    display: flex;
    justify-content: left;

    @include media($medium-screen){
      width: 90%;
      margin-top: 20px;
    }
    @include media($large-screen){
      width: 80%;
      margin-top: 20px;
    }
  }
  

  .bullet-icon {
    background: $action-color;
    border-radius: 50%;
    //float: left;
    position: relative;
    //left: 42%;
    //bottom: 20px;
    height: $icon-bullet-size;
    padding: $icon-bullet-size / 4;
    width: $icon-bullet-size;
  }

  .bullet-icon-1 {
    //background: lighten(black,20%);
    background:#FF4136 ;
  }

  .bullet-icon-2 {
    //background: lighten(black,25%);
    background:#0074D9 ;
  }

  .bullet-icon-3 {
    //background: lighten(black,30%);
    background:#2ECC40 ;
  }

  .bullet-content {
    height: inherit;
    //margin-left: $icon-bullet-size * 1.4;
    margin: 0px 20px;
    text-align: center;
    margin-bottom: 2em;
    //height: 400px;

    @include media($medium-screen){
      margin-bottom: 0px;
      padding-bottom: 0px;
      //height: 370px;
    } 

    @include media($large-screen){
      //height: 300px;
    }
  }


  h2 {
    //position: relative;
    padding: 14px;
    padding-right: 55px;
    top: -54px;
    left: 75px;
    //width: 220px;
    display: block;
    text-decoration: underline;
    font-family: Raleway;
    font-size: $icon-bullet-size / 2.5 + 0.1;
    margin: 0 auto;
  }

  li {
    list-style: none;
  }

  p {
    position: relative;
    //top: -50px;
    color: $base-font-color;
    font-size: 20px;
    text-align: left;
    margin: 0 5px;
    margin-bottom: 1em;

    @include media($medium-screen){
      margin: 0 25px;
    } 

    @include media($large-screen){
      margin: 0 50px;
    }
  }

  img {
    max-width: 100%;
  }
}
.number{
  font-size: 30px;
  font-height: bold;
  text-align: center;
  color: white;
}
.js-fade-element-hide {
  opacity: 0;
}

.js-fade-element-show {
  @include transition (all 0.4s ease-in-out);
  opacity: 1;
}