.sliding-panel-content {  
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $sliding-panel-border-color: $dark-gray;
  $sliding-panel-background: lighten($sliding-panel-border-color, 5%);
  $sliding-panel-color: #fff;
  $sliding-panel-border: 1px solid $sliding-panel-border-color;
  $sliding-panel-background-hover: $action-color;
  $sliding-panel-color-hover: #fff;
  $sliding-panel-background-focus: lighten($sliding-panel-background, 5%);

  @include position(fixed, 0px auto 0px 0px);
  @include size(290px 100%);
  @include transform(translateX(-290px));
  @include transition(all 0.25s linear);
  background: $sliding-panel-background;
  z-index: 1;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;
  }

  li a {
    border-bottom: $sliding-panel-border;
    color: $sliding-panel-color;
    display: block;
    font-weight: bold;
    padding: 2em;
    text-decoration: none;

    &:focus {
      background-color: $sliding-panel-background-focus;
    }

    &:hover {
      background-color: $sliding-panel-background-hover;
      color: $sliding-panel-color-hover;
    }
  }

  &.is-visible {
    @include transform(translateX(0));
  }
}

.sliding-panel-fade-screen {
  @include position(fixed, 0px 0px 0px 0px);
  @include transition;
  background: black;
  opacity: 0;
  visibility: hidden;
  z-index: 999998;

  &.is-visible {
    opacity: 0.4;
    visibility: visible;
  }
}

.sliding-panel-button {
  
}
.slider-close{
  background-color: lighten($red, 3%);
  cursor: pointer;
  text-align: center;
  box-shadow: 0px 0px 0px 2px gray
}
.sliding-panel-content::-webkit-scrollbar{
    width: 0.3em;
}
.sliding-panel-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);}
 
.sliding-panel-content::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;}


.sliding-panel-content1 {  
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $sliding-panel-border-color: $dark-gray;
  $sliding-panel-background: lighten($sliding-panel-border-color, 5%);
  $sliding-panel-color: #fff;
  $sliding-panel-border: 1px solid $sliding-panel-border-color;
  $sliding-panel-background-hover: $action-color;
  $sliding-panel-color-hover: #fff;
  $sliding-panel-background-focus: lighten($sliding-panel-background, 5%);

  @include position(fixed, 0px 0px 0px auto);
  @include size(290px 100%);
  @include transform(translateX(290px));
  @include transition(all 0.4s ease-in-out);
  background: $sliding-panel-background;
  z-index: 1;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;
  }

  li a {
    border-bottom: $sliding-panel-border;
    color: $sliding-panel-color;
    display: block;
    font-weight: bold;
    padding: 2em;
    text-decoration: none;

    &:focus {
      background-color: $sliding-panel-background-focus;
    }

    &:hover {
      background-color: $sliding-panel-background-hover;
      color: $sliding-panel-color-hover;
    }
  }

  &.is-visible {
    @include transform(translateX(0));
  }
}

.sliding-panel-fade-screen1 {
  @include position(fixed, 0px 0px 0px 0px);
  @include transition;
  background: black;
  opacity: .1;
  visibility: hidden;
  z-index: 1;

  &.is-visible {
    opacity: 0.4;
    visibility: visible;
  }
}

.sliding-panel-button1 {
  
}
.slider-close1{
  background-color: lighten($red, 3%);
  cursor: pointer;
  text-align: center;
  box-shadow: 0px 0px 0px 2px gray
}
.contact1{
  text-align: center;
  font-family: roboto;
  padding: 20px 0px;

  span{
    text-decoration: underline;
  }
}
.email-cntnr{
  height: 100%;
  text-align: center;
}
.email{
  margin: 0 auto;
  height: 100px;
  width: 100px;
  background: url(http://www.ekahau.com/userData/ekahau/wifi-design/icons/email-icon-white.png) no-repeat;
  background-size: cover;
  text-align: center;
  
}

.cntc-info{
    text-align: center;
    font-size: 1.05em;
    margin-bottom: 50px;

    span{

      a{
        padding: 3px;
        border: none;
        color: lighten($blue,20%);
      }
    }
  }
.cntc-em{
    color: lighten($red,20%);
}
.vk{
  margin: 0 auto;
  height: 90px;
  width: 90px;
  background: url(http://static.wixstatic.com/media/c84163_dc8a442bed604d28bd14c3fb9b0c7224.png_srz_p_55_55_75_22_0.50_1.20_0.00_png_srz) no-repeat;
  background-size: cover;
  text-align: center;
  margin-bottom: 9px;
}
