// This is the single file output by sass. It is intended to ONLY @import other files.


// 1 - TOOLS
@import '1-tools/bourbon/bourbon'
@import '1-tools/neat/neat'
@import '1-tools/normalize'
@import '1-tools/base/base'
@import '1-tools/fonts'
@import '1-tools/vars'


// 2 - BASICS
@import '2-basics/body-element'
@import '2-basics/selection-colors'
@import '2-basics/links'
@import '2-basics/typography'


// 3 - Modules
@import '3-modules/nav'
@import '3-modules/hero'
@import '3-modules/grid'
@import '3-modules/footer'
@import '3-modules/panel'

// 4 - Pages
@import  '4-pages/skills'
@import  '4-pages/gallery'
@import  '4-pages/border'
@import  '4-pages/benefit'
@import  '4-pages/hobbies'
@import  '4-pages/about'
@import  '4-pages/contact'
@import  '4-pages/projects'


body::-webkit-scrollbar 
    width: 0.9em

body::-webkit-scrollbar-track 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
    opacity: .4
 
body::-webkit-scrollbar-thumb 
  background-color: lighten($blue,20%)
  opacity: .4

h1, article
  font-family: roboto

  span
    text-decoration: underline


h1
  font-weight: 400

p
  font-size: 1em



*
  box-sizing: border-box

.margin-top
  margin-top: 30px

.head
  display: inline-block
  font-weight: bold
  font-size: 30px
  padding: 70px 0
  padding-bottom: 100px
  display: block
  width: inherit
  text-align: center
  margin: 0 20px

  @include media($medium-screen)
    font-size: 50px

  @include media($large-screen)


.head2
  color: #333333
  display: inline-block
  font-weight: bold
  font-size: 30px
  padding: 70px 0
  display: block
  width: inherit
  text-align: center
  margin: 0 20px
  margin-bottom: 0
  padding-bottom: 0

  @include media($medium-screen)
    font-size: 50px

.ajax
  text-align: center
  padding: 10px
  //transition: all 0.5s ease
  //@include background-image(linear-gradient(90deg, $red, white, white, $blue))
  
  a
    color: black
    cursor: default
    

  a:hover, a:focus, a:active
    color: $red

.ajax:hover > a
    color: $red


.isLoading
  display: none
  height: 50px
  width: 50px
  position: relative
  left: 48%
  margin: 0 0 5px 0
  background: url(/triangle.svg) no-repeat
