// This is the single file output by sass. It is intended to ONLY @import other files.


// 1 - TOOLS
@import '1-tools/bourbon/bourbon'
@import '1-tools/neat/neat'
@import '1-tools/normalize'
@import '1-tools/base/base'
@import '1-tools/fonts'
//@import '1-tools/vars'


// 2 - BASICS
@import '2-basics/body-element'
@import '2-basics/selection-colors'
@import '2-basics/links'
@import '2-basics/typography'
@import '2-basics/example-buttons'


// 3 - Modules
@import '3-modules/nav'
@import '3-modules/hero'
@import '3-modules/grid'
@import '3-modules/footer'


body::-webkit-scrollbar 
    width: 1em

 
body::-webkit-scrollbar-track 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)

 
body::-webkit-scrollbar-thumb 
  background-color: darkgrey
  outline: 1px solid slategrey


